# មិនឱ្យ copy យក node_modules ចូលទៅក្នុង image
node_modules

# មិនឱ្យ copy យក build output ចាស់
build

# មិនឱ្យ copy យក folder .git (ការពារទំហំធំ)
.git

# មិនឱ្យ copy យកឯកសារ config សម្រាប់ local machine
.env.local
.DS_Store